# https://github.com/LeadingEDJE/stackmanager/blob/master/.github/workflows/release.yml

name: Release to PyPI

on:
  release:
    types: [released]

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install Tools
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Package and Upload
      env:
        COMMIT_VERSION: ${{ github.event.release.tag_name }}
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
